@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root{
  --gradient-color:linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  --main-background:#ECF2FF;
  --text-color-black:black;
  --hover-color:rgb(100, 100, 100);
  --icon-color:black;
  --button-color:linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
}
.dark-theme{
  --gradient-color:linear-gradient(60deg, #29323c 0%, #485563 100%);
  --main-background:rgb(0, 0, 0);
  --text-color-black:white;
  --hover-color:rgb(255, 255, 255);
  --icon-color:white;
  --button-color:linear-gradient(60deg, #29323c 0%, #485563 100%);
}

body {
  background-color: var(--main-background);
  color: var(--text-color-black);
  overflow-x: hidden;
}
 #icon{
  width: 30px;
  cursor: pointer;
 }
.header {
  background-image: var(--gradient-color)
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  /* width: 100vw; */
}

.right li {
  list-style: none;
  cursor: pointer;
}

.right a {
  text-decoration: none;
  color: var(--text-color-black);
  font-weight: 600;
}

.right ul {
  display: flex;
  gap: 20px;
  align-items: center;
  /* margin-left: 900px; */
}

.main {
  width: 100%;
  height: 90vh;
}

.main img {
  max-width: 300px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.memoji {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.content p {
  margin-top: 10px;
  color: var(--text-color-black);
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: fadeIn 1s ease-in-out;
}

.buttons button {
  margin: 20px 13px;
  padding: 20px 35px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
  background-size: 200% auto;
  color: var(--text-color-black);
  box-shadow: 0 0 20px #000000;
  background-image: var(--button-color)
}

.buttons button:hover {
  background-position: right center;
  color: var(--hover-color);
  text-decoration: none;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #f2f2f2;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(to right, #9b59b6, #8e44ad, #673ab7);
}

.btn-grad:hover {
  background-position: right center;
  color: #f2f2f2;
  text-decoration: none;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.skills img {
  transition: transform 0.3s ease-in-out;
}

.skills .icon-container {
  text-align: center;
}

.skills .icon-container img {
  transition: transform 0.3s ease-in-out;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.skills h1{
  font-size: 50px;
  width: 100vw;
  text-align: center;
}
.skills .icon-container img:hover {
  transform: scale(1.2);
}

.skills .icon-container p {
  margin-top: 5px;
  font-size: 14px;
  color: var(--text-color-black);
}

.skills img:hover {
  transform: scale(1.1);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #d9d9d9;
}

.skills h2 {
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  color: var(--text-color-black);
}

.development,
.programming,
.tools {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-top: 20px;
  background: var(--gradient-color);
  padding: 30px;
  border-radius: 20px;
  animation: slideIn 1s ease-in-out;
}

.git {
  width: 110px;
}

.projects h1 {
  margin-top: 20px;
  font-size: 60px;
  text-transform: uppercase;
  animation: fadeIn 1s ease-in-out;
  color: var(--text-color-black);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: auto;
}

.tic-tac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: var(--gradient-color);
  padding: 20px;
  border-radius: 20px;
  animation: slideIn 1s ease-in-out;
}

.tic-tac img {
  width: 100%;
  max-width: 600px;
  animation: zoomIn 1s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.tic-tac a {
  margin-top: 10px;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  animation: fadeIn 1s ease-in-out;
}

.projects button {
  margin: 20px 13px;
  padding: 20px 35px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
  background-size: 200% auto;
  color: var(--text-color-black);
  box-shadow: 0 0 20px #2d2d2d;
  background-image: var(--button-color);
  animation: fadeIn 1s ease-in-out;
}

.projects button:hover {
  background-position: right center;
  color: var(--hover-color);
  text-decoration: none;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.contact-container {
  width: 100vw;
  padding: 40px;
  background-color: var(--main-background);
  border-radius: 8px;
  animation: fadeIn 1s ease-in-out;
}

.contact-heading {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  animation: slideIn 1s ease-in-out;
  color: var(--text-color-black);
}

.contact-description {
  line-height: 1.6;
  margin-bottom: 30px;
  animation: slideIn 1s ease-in-out;
  color: var(--text-color-black);
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.contact-icons i {
  margin-top: 20px;
  font-size: 30px;
  color: var(--icon-color);
  transition: transform 0.3s ease-in-out;
}

.contact-icons i:hover {
  transform: scale(1.2);
}

.contact-container a {
  color: #9c59b6;
}

.icon {
  text-align: center;
  margin: 10px;
}

.icon p {
  margin-top: 5px;
  font-size: 14px;
  color: var(--text-color-black);
}

iframe {
  border-radius: 20px;
  filter: invert(100%);
  width: 100%;
  max-width: 800px;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in-out;
}

@media (max-width: 768px) {
  .content {
    width: 90%;
  }
  .development,
  .programming,
  .tools {
    width: 90vw;
  }
  .projects {
    width: 90vw;
  }
  .tic-tac img {
    width: 100%;
  }
}